<!-- !Render Posts Macro: Render all posts in the form of cards -->
{% macro render_posts(posts, show_end=true, dashboard=false, search=false,simple=false,txt="Be the first to Post",
viewers_count=false) %}
{% if posts|length != 0 %}
{% for post in posts %}

{% set user=post.writer %}
<section class="card my-3 box-shadow" style="z-index: 10!important;">
    <div class="card-body content">
        {% if not simple %}
        <p class="card-text text-muted fw-bold float-end">
            {{post.pub_date.strftime("%b %d")}}</p>

        {% if user.picture == None %}
        <img id="userImage" class="profile" src="{{url_for('static', filename='images/usericon.png')}}"
            alt="{{user.username}}" />
        {% else %}
        <img id="userImage" class="profile" src="{{user.picture}}" alt="{{user.username}}" />
        {% endif %}
        <a href="/p/{{user.username}}" class="fw-bold text-decoration-none text-dark link d-inline-block">
            {{user.firstname}} {{user.lastname}}
            (@{{user.username}})</a>
        {% if viewers_count %}

        {% if post.public %}
        <span class="badge p-2 rounded-pill  bg-light text-black">
            <i class="fa fa-eye"></i> {{post.views}}
        </span>
        {% else %}
        <span class="badge rounded-pill p-2  btn-orange text-black">📌 Draft
        </span>

        {% endif %}
        {% endif %}

        {% endif %}
        {% if simple %}
        <a class="btn float-end rounded-circle btn-outline-warning fw-bolder"
            href="{{url_for('handleDeletes', sno=post.sno, keyword='r')}}"><i class="fa fa-check"
                style="font-size: 18px;"></i></a>
        {% endif %}
        {% if post.public %}
        {% set url = url_for('handleUsersPosts', username=user.username, postSlug=post.slug) %}
        {% else %}
        {% set url = url_for('handleBlogWriter', sno=post.sno) %}
        {% endif %}
        <a href="{{url}}" class="link text-dark post-title link" style="text-decoration: none;">
            <h3 class="card-title">{{post.title}}</h3>
        </a>
        {% if tag != "" %}
        {% for tag in post.tags_list %}
        <a class="card-subtitle fw-bold text-primary btn-link btn p-0 text-decoration-none"
        href="/search?q={{tag}}&type=tag"> <i class="fa fa-hashtag"></i>{{tag}}</a>
        {% endfor %}
        {% endif %}
        {% if dashboard %}
        <a href="{{url_for('handleBlogWriter', sno=post.sno)}}" class="btn btn-outline-success float-end"> <i
                class="fa fa-edit"></i> Edit</a>
        <a href="{{url_for('handleDeletes', keyword='b', sno=post.sno)}}"
            class="btn btn-outline-danger float-end mx-2 delete">
            <i class="fa fa-trash"></i> Delete</a>
        {% else %}
        <a href="{{url}}" class="btn btn-light float-end">Read</a>
        {% endif %}
    </div>
</section>
{% endfor %}

<!-- !End post notice -->
{% if show_end %}
<div class="card" style="z-index: 10!important;">
    <div class="card-body text-center">
        <h4 class=""><i class="fa fa-check-circle-o"></i> End of The page!</h4>
        <h5 class="text-muted">Add your post to expand the community</h5>
        <a href="/blog-writer/edit/0" class="btn btn-primary-lg">Add your blog</a>
        <a href="#" class="btn btn-warning-lg">Go to Top</a>
    </div>
</div>
{% endif %}

{% else %}
{% if search %}
<div
    class="alert my-3 d-flex justify-content-center text-center flex-row align-content-center align-items-center flex-wrap">
    <img src="{{url_for('static', filename='images/31.png')}}" style="width: 80vh;" alt="Search Not Found">
    <div>
        <h3>Search Not Found!</h3>
        <hr>
        <h5 class="text-muted">No posts found related to this. Search with other keyword.</h5>
    </div>
</div>
{% else %}
<div
    class="alert my-3 d-flex justify-content-center text-center flex-row align-content-center align-items-center flex-wrap">
    <img src="{{url_for('static', filename='images/32.png')}}" style="width: 80vh;" alt="Search Not Found">
    <div>
        <h3>Empty! No Blogs Here!</h3>
        <hr>
        <h5 class="text-muted">{{txt}}</h5>
    </div>
</div>
{% endif %}
{% endif %}
{% endmacro %}

<!-- Render Notices in the form of cards -->
{% macro render_notices(notices) %}
{% for notice in notices %}

<div class="card my-3 box-shadow">
    <div class="card-body">
        <p class="card-text text-muted fw-bold float-end"> <i class="fa fa-calendar"></i>
            {{notice.create_date.strftime('%B %d , %Y')}}</p>
        <img src="{{url_for('static', filename='images/webIcon.png')}}" alt="Blogger" class="mr-3" width="30"
            height="30">
        <a class="fw-bold text-decoration-none text-dark link d-inline-block">
            Bloggers Community</a>
        <a style="text-decoration: none;">
            <h3 class="card-title">{{notice.title}}</h3>
        </a>
        <h5 class="card-title">{{notice.desc}}</h5>
    </div>
</div>
{% endfor %}

{% if notices|length == 0 %}
<div class="alert alert-warning my-3">
    <h5>No Notices to show</h5>
</div>
{%endif%}

{% endmacro %}

{% macro render_avatar(user,size='30') %}
{% if user.picture == None %}
<img src="{{url_for('static',filename='images/usericon.png')}}" alt="Avatar" class="rounded-circle" width="60"
    height="60">
{% else %}
<img src="{{picture}}" alt="Avatar" class="rounded-circle" width="{{size}}" height="{{size}}">
{% endif %}
{% endmacro %}


{% macro render_user_profile(user, current_user,blogProfile="",recommendeds="") %}

{% if not current_user.is_anonymous %}
{% set cnt = current_user.following.count(blogProfile) %}
{% endif %}
<div class="position-sticky" style="top: 4rem; height:auto;">
    <div class="p-4 mb-3 alert bg-white rounded">
        <div class="text-center d-block">
            {% if not user.picture %}

            <img src="{{url_for('static',filename='images/usericon.png')}}" alt="Avatar" class="rounded-circle"
                width="60" height="60">
            {% else %}
            <img src="{{ user.picture }}
        " alt="Avatar" class="rounded-circle" width="60" height="60">
            {% endif %}
            <h5>{{user.firstname}} {{user.lastname}} {% if user.is_verified %}
                <i class="fa fa-check-circle text-primary" title="Verified"></i>
            </h5>
            {% endif %}
            {% if user.bio %}
            <p class="text-muted">{{user.bio}}</p>
            {% endif %}
        </div>
        {% if user.sno != current_user.sno and not current_user.is_anonymous %}
        {% if cnt > 0 %}
        <a href="/follow?sno={{user.sno}}&url=/p/{{user.username}}" class="btn btn-orange d-block my-3 fw-bold"><i
                class="fa fa-check"></i>Followed</a>
        {% elif blogProfile %}
        <a href="/follow?sno={{user.sno}}&url=/p/{{user.username}}" class="d-block btn btn-primary my-3 fw-bold"><i
                class="fa fa-plus-square-o"></i> Follow</a>
        {% endif %}
        {% else %}
        <a href="{{url_for('userProfile',username=user.username)}}" class="d-block btn btn-primary my-3 fw-bold"><i
                class="fa fa-link"></i> Visit Profile</a>

        {% endif %}

        <!-- <h5 class="text-muted">Country : {{user.country}}</h5> -->
        <h6 class="text-success fw-bold">Joined on</h6>
        <h5 class="text-muted">
            {{user.joined_date.strftime('%B %d, %Y')}}</h5>
        <h6 class="text-success fw-bold">Country</h6>
        <h5 class="text-muted">
            {{user.country}}</h5>
        <h6 class="text-success fw-bold">Profession</h6>
        <h5 class="text-muted">
            {{user.work}}</h5>
    </div>

    <!-- !Recomendation Section -->
    {% if recommendeds != "" %}
    <div class="alert bg-white overflow-scroll">
        <h3>Recommended</h3>
        <div class="list-group">
            {% for recommended in recommendeds%}
            {% if recommended %}
            <a href="/b/{{recommended.writer.username}}/{{recommended.slug}}"
                class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w- justify-content-between">
                    <h5 class="mb-1">{{recommended.title}}</h5>
                </div>
                <small class="badge rounded-pill bg-primary text-white">by @{{recommended.writer.username}}</small>
                <small class="badge rounded-pill bg-primary text-white">{{recommended.pub_date.strftime("%b %d,
                    %Y")}}</small>
                <!-- <small>And some small print.</small> -->
            </a>
            {% endif %}
            {% endfor %}
            {% if recommendeds|length == 0 %}
            <div class="alert alert-warning">
                Noting to Recommend
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
    <a href="https://publishers.adsterra.com/referral/dJhxetn3AL"><img alt="banner" class="rounded-3"
            src="https://landings-cdn.adsterratech.com/referralBanners/png/468%20x%20120%20px.png" /></a>

</div>

{% endmacro %}

{% macro render_user_cards(users) %}
<!-- !Users All Blogs Fetch From Database -->
<div id="blogsusers">
    {% for blogUser in users %}
    <div class="card my-3 box-shadow">
        <div class="card-body">
            <p class="card-text text-muted fw-bold badge badge-pill rounded-pill float-end">
                {{blogUser.joined_date.strftime('%B %d, %Y')}}
            </p>
            {% if not blogUser.picture %}
            <img src="{{url_for('static',filename='images/usericon.png')}}" alt="Avatar" class="rounded-circle"
                width="60" height="60">
            {% else %}
            <img src="{{ blogUser.picture }}
      " alt="Avatar" class="rounded-circle" width="60" height="60">
            {% endif %}
            <h5 class="d-inline-block">
                <a class="fw-bold text-decoration-none ml-2 text-dark cursor-pointer link d-inline-block"
                    style="cursor: pointer;" href="/p/{{blogUser.username}}">
                    {{blogUser.firstname}} {{blogUser.lastname}} (@{{blogUser.username}})</a>
        </div>
        </h5>
    </div>
    {% endfor %}
</div>
{% if users|length == 0 %}
<div class="alert alert-warning my-3">
    <h5>No Users Found (*_*).</h5>
</div>
{% endif %}
{% endmacro %}