{% for post in posts.items %}

{% set user=post.writer %}
{% if loop.last and posts.has_next %}
<section class="card my-3 box-shadow" style="z-index: 10!important;" hx-get="/{{url}}{{page+1}}" hx-trigger="revealed"
    hx-swap="afterend" hx-indicator="#spinner">
    {% else %}
    <section class="card my-3 box-shadow" style="z-index: 10!important;">
        {% endif %}
        <div class="card-body content row">
            <div class="col-lg-9">

                {% if not simple %}
                
                {% if user.picture == None %}
                <img id="userImage" class="profile" src="{{url_for('static', filename='images/usericon.png')}}"
                alt="{{user.username}}" />
                {% else %}
                <img id="userImage" class="profile" src="{{user.picture}}" alt="{{user.username}}" />
                {% endif %}
                <a href="/p/{{user.username}}" class="fw-bold text-decoration-none text-dark link d-inline-block">
                    {{user.firstname}} {{user.lastname}}
                (@{{user.username}})</a>
                <span class="fwpop text-decoration-none text-muted link d-inline-block"><b>-</b> {{post.time_ago}}</span>
                {% if viewers_count %}

            {% if post.public %}
            <span class="badge p-2 rounded-pill  bg-light text-black">
                <i class="fa fa-eye"></i> {{post.views}}
            </span>
            {% else %}
            <span class="badge rounded-pill p-2  btn-orange text-black">📌 Draft
            </span>

            {% endif %}
            {% endif %}
            
            {% endif %}
            {% if simple %}
            <a class="btn float-end rounded-circle btn-outline-warning fw-bolder"
                href="{{url_for('handleDeletes', sno=post.sno, keyword='r')}}"><i class="fa fa-check"
                    style="font-size: 18px;"></i></a>
            {% endif %}
            {% if post.public %}
            {% set url = url_for('handleUsersPosts', username=user.username, postSlug=post.slug) %}
            {% else %}
            {% set url = url_for('handleBlogWriter', sno=post.sno) %}
            {% endif %}
            <a href="{{url}}" class="link text-dark post-title link" style="text-decoration: none;">
                <h3 class="card-title">{{post.title}}</h3>
            </a>
            <p class="text-black fwpop"><i class="fa fa-book text-primary"></i> {{post.read_time}}</p>
            {% if post.summary %}
            <p>{{post.summary}}... <a href="{{url}}" class="btn badge text-black fwpop hover-btn">Read</a> </p>
            {% endif %}
            {% for tag in post.tags_list[:3] %}
            <a class="card-subtitle fw-bold text-primary btn hover-btn p-0 text-decoration-none"
            href="/search?q={{tag}}&type=tag"> <i class="fa fa-hashtag"></i>{{tag}}</a>
            {% endfor %}
            {% if post.tags_list|length >3 %}
            <a class="card-subtitle fw-bold text-primary btn hover-btn p-0 text-decoration-none" href="{{url}}">
                +{{post.tags_list|length -3}}</a>
                {% endif %}
                
                {% if dashboard %}
                <a href="{{url_for('handleBlogWriter', sno=post.sno)}}" class="btn btn-outline-success float-end"> <i
                    class="fa fa-edit"></i> Edit</a>
                    <a id="{{url_for('handleDeletes', keyword='b', sno=post.sno)}}"
                class="btn btn-outline-danger float-end mx-2 delete">
                <i class="fa fa-trash"></i> Delete</a>
                {% endif %}
            </div>
            <div class="col-lg-3 mt-2 d-flex justify-content-center align-items-center">
                <a href="{{url}}"><img src="{{post.cover_src}}" alt="{{post.tag}}" width="323"
                    style="aspect-ratio: 16/9; border-radius:18px;"></a>
            </div>
        </div>
    </section>
    {% endfor %}
    {% if not posts.has_next and showend %}
    <div class="card" style="z-index: 10!important;">
        <div class="card-body text-center">
            <h4 class=""><i class="fa fa-check-circle-o"></i> End of The page!</h4>
            <h5 class="text-muted">Add your post to expand the community</h5>
            <a href="/blog-writer/edit/0" class="btn btn-primary-lg">Add your blog</a>
            <a href="#" class="btn btn-warning-lg">Go to Top</a>
            <hr>
            <div class="flex flex-row justify-items-around align-content-center">
                <a href="/terms-and-conditions" class="link mx-3">Terms and Conditions</a>
                <a href="/privacy-policy" class="link">Privacy Policy</a>
            </div>
        </div>
    </div>
    {% endif %}