<div class="d-flex mb-2 justify-content-center align-content-start align-items-start" id="comment" style="cursor: auto;">
  <img src="{{comment.commentor.picture}}" width="35" height="35" class="rounded-circle mt-2">
  <div class="card bg-grey text-start comment">
    <a href="{{url_for('userProfile', username=comment.commentor.username)}}"
      class="text-muted btn-link text-decoration-none text-sm-start"
      style=" margin:0;"><b>{{comment.commentor.firstname}} {{comment.commentor.lastname}}</b> | {{comment.time_ago}}</a>
    {{comment.body|safe}}
  </div>
</div>