<!-- !Users All Blogs Fetch From Database -->
<div id="blogs">
    {% for blogUser in userList.items %}
    {% if loop.last and userList.has_next %}
    <div class="card my-3 box-shadow" style="z-index: 10!important;" hx-get="/{{url}}{{page+1}}" hx-trigger="revealed"
        hx-swap="afterend" hx-indicator="#spinner">
        {% else %}
        <div class="card my-3 box-shadow">
            {% endif %}
            <div class="card-body">
                <p class="card-text text-muted fw-bold badge badge-pill rounded-pill float-end">
                    {{blogUser.joined_date.strftime('%B %d, %Y')}}
                </p>
                {% if not blogUser.picture %}
                <img src="{{url_for('static',filename='images/usericon.png')}}" alt="Avatar" class="rounded-circle"
                    width="60" height="60">
                {% else %}
                <img src="{{ blogUser.picture }}
      " alt="Avatar" class="rounded-circle" width="60" height="60">
                {% endif %}
                <h5 class="d-inline-block">
                    <a class="fw-bold text-decoration-none ml-2 text-dark cursor-pointer link d-inline-block"
                        style="cursor: pointer;" href="/p/{{blogUser.username}}">
                        {{blogUser.firstname}} {{blogUser.lastname}} (@{{blogUser.username}})</a>
            </div>
            </h5>
        </div>
    </div>
    {% endfor %}
    {% if userList.items|length == 0 %}
    <div class="alert alert-warning my-3">
        <h5>Empty! No Users Found.</h5>
    </div>
    {% endif %}