{% extends 'layout.html' %}
{% from 'includes/macros.html' import render_user_profile %}
{% block meta %}
<meta name="description" content="{{post.summary}}">
<meta name="keywords" content="{{post.tag}}">
{% endblock meta %}
{% block title %}
<!-- !Share This Plugin -->
<script type="text/javascript"
  src="https://platform-api.sharethis.com/js/sharethis.js#property=637860466fa502001965e9b3&product=inline-reaction-buttons&source=platform"
  async="async"></script>
<!-- !Prisma CSS & JS-->
<link rel="stylesheet" href="{{url_for('static',filename='prism/prism.css')}}">
<title>{{post.title}} @{{post.writer.username}}</title>
{% endblock title %}
{% block body %}
<div id="main" class="container-fluid my-3" style="width: 90%; margin:auto;">

  <div class="row g-3">
    <!-- !Blog Section -->
    <div class="col-lg-9">
      <div class="card">
        <div class="card-body">
          {% if current_user.is_admin %}
          <a class="btn btn-outline-danger ml-2 rounded-circle float-end" href="/delete/b/{{post.sno}}"><i
              class="fa fa-trash"></i></a>
          {% endif %}
          {% if current_user.sno == user.sno %}
          <a class="btn btn-outline-success mr-2 rounded-circle float-end" href="/blog-writer/edit/{{post.sno}}"><i
              class="fa fa-pencil"></i></a>
          <!-- *Bookmark -->
          {% endif %}

          {% if not current_user.is_anonymous %}
            {% set  cnt = current_user.readinglist.blogs.count(post) %}
          {% if cnt>0 %}
          <span class="text-primary btn btn-outline-primary border-0" style="cursor: pointer;font-size:30px; "
            id="bookmark">
            <i class="fa fa-bookmark"></i>
          </span>
          <b id="count"></b>
          {% else %}
          <span class="text-primary" style="cursor: pointer; font-size:30px;" id="bookmark">
            <i class="fa fa-bookmark-o"></i>
          </span>
          {% endif %}
          {% endif %}
          <h1 class="fw-bolder border-primary text-center">
            {{post.title}}
          </h1>
          <hr>
          <div class='mb-2'>
            {% for tag in post.tags_list %}
            <a href="/search?q={{tag}}&type=tag"
              class="text-black text-decoration-none fw-bolder p-2 badge bg-warning rounded-pill text-dark">#{{tag}}
            </a>
            {% endfor %}
            <button type="button" class="text-black text-decoration-none fw-bolder p-2 badge bg-light border-0 rounded-pill text-dark float-end"
             data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="fa fa-link" style="font-size: 15px;"></i>
            </button>
          </div>
          <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"> <i class="fa fa-link"></i> Share shorten link</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-title"><h4 class="text-center">Shorten Url</h4></div>
          <input type="text" class="form-control d-block" value="{{shorturl}}" id="surl" disabled>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="copy()">Copy</button>
      </div>
    </div>
  </div>
</div>

        <!-- TODO:!Article -->
          <hr>
          <article id="body" class="blog-post position-sticky" style="top: 2rem; height:auto;">
            <div class="mb-2">
              <div class="fb-like float-end" data-href="/b/{{user.username}}/{{post.slug}}" data-width=""
                data-layout="button_count" data-action="like" data-size="large" data-share="false"></div>
              {% if user.profile == None %}
              <img src="{{url_for('static', filename='images/usericon.png')}}" alt="Avatar" width="30" height="30">
              {% else %}
              <img src="{{user.picture}}" style="border-radius: 50%;" alt="avatar" width="30" height="30">
              {% endif %}
              <a href="/p/{{user.username}}" class="link fw-bolder text-decoration-none">
                @{{user.username}}
              </a>
              <div class="d-inline-block mt-1">
                <h6 class="text-dark text-muted fw-bolder">
                  <span class="badge p-2   mr-2 bg-light text-black">
                    {{post.pub_date.strftime("%b %d, %Y")}}
                  </span>
                  <span class="badge p-2  bg-light text-black">
                    <i class="fa fa-eye"></i> {{post.views}} views
                  </span>
                </h6>
              </div>
            </div>
            {{post.body | safe}}
            <div class="sharethis-inline-reaction-buttons"></div>
          </article>

          <nav class="blog-pagination my-3" aria-label="Pagination">
            {% if prev_post %}
            <a class="btn btn-outline-primary float-start" href="/b/{{user.username}}/{{prev_post.slug}}"> <i
                class="fa fa-arrow-left"></i> Previous</a>
            {% endif %}
            {% if next_post %}
            <a class="btn btn-outline-primary float-end" href="/b/{{user.username}}/{{next_post.slug}}">Next <i
                class="fa fa-arrow-right"></i> </a>
            {% endif %}
          </nav>

        </div>


      </div>

      <!-- !Comment Section -->
      <div class="card my-3 text-center">
        <h4 class="card-header text-center">Comments / Discussion</h4>
        <div class="card-body">
          <div class="fb-comments" data-href="{{params['url']}}/b/{{user.username}}/{{post.slug}}" data-width=""
            data-numposts="5"></div>
        </div>
      </div>


      <section id="comment" class="card my-3 text-center">
        <h4 class="card-header text-center">Community Post</h4>
        <div class="card-body">
          {% if current_user.is_authenticated %}
          <form method="post">
            {{form.csrf_token}}
            <textarea name="body" id="body">
            </textarea>
            <input type="hidden" name="to" value="/b/{{user.sno}}/{{post.sno}}">
            <input type="hidden" name="url" value="/b/{{user.username}}/{{post.slug}}">
        </div>
        <div>
          <div class="d-flex justify-content-end align-content-center">
            <button type="submit" class="btn btn-primary">Post</button>
          </div>
          </form>
          {% else %}
          <div class="d-flex justify-content-center align-content-center text-center">
            <a href="{{url_for('googleLogin')}}" type="btn my-3 text-decoration-none button ml-3" style="border-radius: 50px;text-decoration:none;" class="login-with-google-btn" >
              Continue with Google
          </a>
          </div>
          {% endif %}
        </div>

        <hr>
        {% for comment in comments %}

        <div class="d-flex mb-2 justify-content-center align-content-start align-items-start" style="cursor: auto;">
          <img src="{{comment.commentor.picture}}" width="35" height="35" class="rounded-circle mt-2">
          <div class="card bg-grey text-start" style="
              width: 80%;
              margin: 2px 15px;
              padding: 13px 8px;
          ">
            <a href="{{url_for('userProfile', username=comment.commentor.username)}}"
              class="text-muted btn-link text-decoration-none text-sm-start"
              style=" margin:0;">@{{comment.commentor.username}} | {{comment.create_date.strftime("%b %d")}}</a>
            {{comment.body|safe}}
          </div>
          <br>
        </div>
        {% endfor %}
    </div>
    </section>



    <div class="col-lg-3">
      <!-- !User Profile -->
     
      {{render_user_profile(user, current_user, blogProfile, recommendeds=recommendeds)}}

    
    </div>


  </div>

</div>
{% endblock body %}
{% block script %}
<script src="{{url_for('static',filename='prism/prism.js')}}"></script>
<script src="https://cdn.tiny.cloud/1/8s55fjh97p8z0295i3xgm93498al8v6u61o11kfmzxjk982d/tinymce/6/tinymce.min.js"
  referrerpolicy="origin"></script>
<script>
  $('#bookmark').click(() => {

    if ($('#bookmark').html() == '<i class="fa fa-bookmark"></i>') {
      $('#bookmark').html(`<i class="fa fa-bookmark-o"></i>`)

    } else {
      $('#bookmark').html(`<i class="fa fa-bookmark"></i>`)

    }
    bookmarkReq()
  }
  )
  function copy() {
    // Get the text field
    var copyText = document.getElementById("surl");
  
    // Select the text field
    copyText.select();
    copyText.setSelectionRange(0, 99999); // For mobile devices
  
     // Copy the text inside the text field
    navigator.clipboard.writeText(copyText.value);
  
    // Alert the copied text
    alert("Copied the text: " + copyText.value);
  }

  const bookmarkReq = async () => {
    var myHeaders = new Headers();
    myHeaders.append("Cookie", "Cookie_1=value; Cookie_2=value; session=5a67b465-54b3-4ceb-aff3-496d75f28602");


    var requestOptions = {
      method: 'GET',
      headers: myHeaders,
      credentials: 'include',
      redirect: 'follow'
    };

    await fetch("/bookmark?blogsno={{post.sno}}", requestOptions)
      .then(response => response.json())
      .then(result => {
        let cnt = result["bookmarkCount"]
        $('#bookmarkCount').text(String(cnt))
        console.log(result)
      }
      )
      .catch(error => console.log('error', error));
  }
</script>
<script>
  tinymce.init({
    selector: 'textarea',
    width: '100%',
    height: '200px',
    menubar: false,
    plugins: 'anchor autolink charmap codesample emoticons link lists searchreplace table visualblocks wordcount',
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
  });
</script>
<script type="text/javascript">
	atOptions = {
		'key' : '429494a5122044482cb83ede049b2e47',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://materialisticconstitution.com/429494a5122044482cb83ede049b2e47/invoke.js"></scr' + 'ipt>');
</script>
{% endblock script %}