{% extends 'layout.html' %}
{% block title %}
<title>Blog Writer</title>
{% endblock title %}
{% block body %}
<div class="container">

  <!-- !Tabs -->
  <!-- <ul class="nav nav-tabs my-3" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab"
        aria-controls="home" aria-selected="true"><i class="fa fa-rss"></i> Feed</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab"
        aria-controls="profile" aria-selected="false"><i class="fa fa-bullhorn"></i> Notices</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab"
        aria-controls="contact" aria-selected="false"><i class="fa fa-comments"></i>
        Discussion</button>
    </li>
  </ul> -->
  <div class="tab-content" id="myTabContent">
    <!-- !All Posts Tab -->
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <form action="/blog-writer/edit/{{sno}}" method="POST">
        {{form.csrf_token}}
        <input required type="text" class="titleInput" id="title" name="title" value="{{post.title}}"
          placeholder="🚩 Blog Title Here" minLength="10" maxlength="120">

        <!-- !SEO Settings -->

        <div class="card mb-2">
          <div class="card-title">
            <button class="btn d-block btn-outline-grey font-weight-bold" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              <i class="fa fa-cogs text-primary"></i> <b>SEO Settings</b> (Optional) <i class="fa fa-chevron-down"></i>
            </button>
          </div>


          <div class="collapse" id="collapseExample">
            <div class="card-body">
              <h5 class="text-muted">✨ Rank Your blog on Google Search Engine</h5>
              <hr>
              <!-- 
                    <label for="basic-url" class="form-label">Custom Url</label>
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
                      <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    </div> -->

              <!-- <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">Meta Title</label>
                      <p class="text-sm-start">sss</p>
                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div> -->
              <div class="mb-3">
                <label for="summary" class="form-label font-weight-bolder">📃 SEO description</label>
                <p class="text-muted font-italic">Limit 200 chars. The SEO Description will be used in place of your
                  Subtitle on search engine results pages. Good SEO descriptions utilize keywords, summarize the
                  article and are between 140-156 characters long</p>
                <textarea class="form-control" placeholder="Write a summary of your blog post" id="summary"
                  name="summary" maxlength="200" rows="3">{{post.summary}}</textarea>
              </div>
            </div>
          </div>
        </div>

        <textarea required class="my-3"
          placeholder="Make sure to write at least 100 Characters. In the tags field multiple tags must be separated with space. (Don't enter a tag twice). i.e: First and Second tag will be shown as recommendations. So make sure to provide the first two tags appropriate to rank your post."
          name="body" id="body">
                {{post.body}}
            </textarea>
        <input type='hidden' name="sno" id="sno" value="{{sno}}">

        <input id="tag" name="tag" min="3" class="titleInput d-block mx-auto" maxLength="50" minlength="3"
          placeholder="Tags (format : 1tag 2tag)" value="{{post.tag}}" style="font-size:20px;">
        {% if sno=="0" or post.public == false %}
        {% set text = "Publish Blog" %}
        {% else %}
        {% set text = "Edit Blog" %}
        {% endif %}
        <div class="my-2">
          {% if post.public == false %}

          <input type="checkbox" class="btn-check" id="btn-check-outlined" name="draft" autocomplete="off"  checked>
          <label class="btn btn-lg btn-outline-primary" for="btn-check-outlined">📎 Drafted</label>
          {% else %}
          <input type="checkbox" class="btn-check" id="btn-check-outlined" name="draft" autocomplete="off">
          <label class="btn btn-lg btn-outline-primary" for="btn-check-outlined">📎 Draft</label>
          {% endif %}
          <input type="submit" id="submit" class="btn btn-lg btn-outline-success float-end" value="🎉 {{text}}">
          <!-- <button class="btn btn-lg btn-outline-primary float-end mx-2">
                    <i class="fa fa-paperclip"></i> Save Draft
                </button> -->
        </div>

      </form>
    </div>
  </div>

  <!-- !All Notices Tab -->
  <!-- <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
  </div> -->

</div>

<!-- !Comments tab -->

{% endblock body %}
{% block script %}
<script>
  $('#tag').on('input', (e) => {
    let tags = $('#tag').val().split(" ")

    if (tags.length > 5) { $('#tag').css({ 'border-bottom': '5px solid red' }) }
    else { $('#tag').css({ 'border-bottom': '5px solid green' }) }
  })
</script>
<script src="https://cdn.tiny.cloud/1/8s55fjh97p8z0295i3xgm93498al8v6u61o11kfmzxjk982d/tinymce/6/tinymce.min.js"
  referrerpolicy="origin"></script>
<script>

  var useDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;

  tinymce.init({
    selector: 'textarea#body',
    plugins: 'print preview paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons',
    imagetools_cors_hosts: ['picsum.photos'],
    menubar: 'file edit view insert format tools table help',
    toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',
    toolbar_sticky: true,
    autosave_ask_before_unload: true,
    autosave_interval: '1s',
    autosave_prefix: '{path}{query}-{id}-',
    autosave_restore_when_empty: false,
    autosave_retention: '2m',
    image_advtab: true,
    link_list: [
      { title: 'My page 1', value: 'https://www.tiny.cloud' },
      { title: 'My page 2', value: 'http://www.moxiecode.com' }
    ],
    image_list: [
      { title: 'My page 1', value: 'https://www.tiny.cloud' },
      { title: 'My page 2', value: 'http://www.moxiecode.com' }
    ],
    image_class_list: [
      { title: 'None', value: '' },
      { title: 'Some class', value: 'class-name' }
    ],
    importcss_append: true,
    file_picker_callback: function (callback, value, meta) {
      /* Provide file and text for the link dialog */
      if (meta.filetype === 'file') {
        callback('https://www.google.com/logos/google.jpg', { text: 'My text' });
      }

      /* Provide image and alt text for the image dialog */
      if (meta.filetype === 'image') {
        callback('https://www.google.com/logos/google.jpg', { alt: 'My alt text' });
      }

      /* Provide alternative source and posted for the media dialog */
      if (meta.filetype === 'media') {
        callback('movie.mp4', { source2: 'alt.ogg', poster: 'https://www.google.com/logos/google.jpg' });
      }
    },
    templates: [
      { title: 'New Table', description: 'creates a new table', content: '<div class="mceTmpl"><table width="98%%"  border="0" cellspacing="0" cellpadding="0"><tr><th scope="col"> </th><th scope="col"> </th></tr><tr><td> </td><td> </td></tr></table></div>' },
      { title: 'Starting my story', description: 'A cure for writers block', content: 'Once upon a time...' },
      { title: 'New list with dates', description: 'New List with dates', content: '<div class="mceTmpl"><span class="cdate">cdate</span><br /><span class="mdate">mdate</span><h2>My List</h2><ul><li></li><li></li></ul></div>' }
    ],
    template_cdate_format: '[Date Created (CDATE): %m/%d/%Y : %H:%M:%S]',
    template_mdate_format: '[Date Modified (MDATE): %m/%d/%Y : %H:%M:%S]',
    height: 450,
    image_caption: true,
    quickbars_selection_toolbar: 'bold italic | quicklink h2 h3 blockquote quickimage quicktable',
    noneditable_noneditable_class: 'mceNonEditable',
    toolbar_mode: 'sliding',
    contextmenu: 'link image imagetools table',

    content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
  });



</script>
{% endblock script %}