{% extends 'layout.html' %}
{% block title %}
<title>Blog Writer</title>
{% endblock title %}
{% block css %}
    <style>
        .titleInput {
            outline: none;
            border-bottom: 4px solid blue;
    /* border: 0; */
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
    padding: 11px 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 41px;
    font-weight: bold;
    text-align: center
        }
        .titleInput:focus {
            border-bottom: 4px solid rgba(0, 189, 41, 0.808);

        }
    </style>
{% endblock css %}
{% block body %}
<div class="container">
<form action="/blog-writer/edit/{{sno}}" method="POST">
  {{form.csrf_token}}
    <input required type="text" class="titleInput" id="title" name="title" value="{{post.title}}" placeholder="Blog Title Here" minLength="10" maxlength="120">
    <textarea required class="my-3" placeholder="Make sure to write at least 100 Characters. In the tags field multiple tags must be separated with space. (Don't enter a tag twice). i.e: First and Second tag will be shown as recommendations. So make sure to provide the first two tags appropriate to rank your post." name="body" id="body">
        {{post.body}}
    </textarea>
    <input type='hidden' name="sno" id="sno" value="{{sno}}">
    <div class="my-2">
        <input id="tag" name="tag" class="titleInput" maxLength="50" placeholder="Tags (space)" value="{{post.tag}}" style="width: 22%; font-size:20px;">
        {% if sno=="0" %}
        {% set text = "Publish Blog" %}
        {% else %}
        {% set text = "Edit Blog" %}
        {% endif %}
        <input type="submit" id="submit"  class="btn btn-lg btn-outline-success float-end" value="{{text}}">
        <!-- <button class="btn btn-lg btn-outline-primary float-end mx-2">
            <i class="fa fa-paperclip"></i> Save Draft
        </button> -->
    </div>
</div>
</form>

{% endblock body %}
{% block script %}

<script src="https://cdn.tiny.cloud/1/8s55fjh97p8z0295i3xgm93498al8v6u61o11kfmzxjk982d/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
<script>

    var useDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;

    tinymce.init({
      selector: 'textarea#body',
      plugins: 'print preview paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons',
      imagetools_cors_hosts: ['picsum.photos'],
      menubar: 'file edit view insert format tools table help',
      toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',
      toolbar_sticky: true,
      autosave_ask_before_unload: true,
      autosave_interval: '30s',
      autosave_prefix: '{path}{query}-{id}-',
      autosave_restore_when_empty: false,
      autosave_retention: '2m',
      image_advtab: true,
      link_list: [
        { title: 'My page 1', value: 'https://www.tiny.cloud' },
        { title: 'My page 2', value: 'http://www.moxiecode.com' }
      ],
      image_list: [
        { title: 'My page 1', value: 'https://www.tiny.cloud' },
        { title: 'My page 2', value: 'http://www.moxiecode.com' }
      ],
      image_class_list: [
        { title: 'None', value: '' },
        { title: 'Some class', value: 'class-name' }
      ],
      importcss_append: true,
      file_picker_callback: function (callback, value, meta) {
        /* Provide file and text for the link dialog */
        if (meta.filetype === 'file') {
          callback('https://www.google.com/logos/google.jpg', { text: 'My text' });
        }
    
        /* Provide image and alt text for the image dialog */
        if (meta.filetype === 'image') {
          callback('https://www.google.com/logos/google.jpg', { alt: 'My alt text' });
        }
    
        /* Provide alternative source and posted for the media dialog */
        if (meta.filetype === 'media') {
          callback('movie.mp4', { source2: 'alt.ogg', poster: 'https://www.google.com/logos/google.jpg' });
        }
      },
      templates: [
            { title: 'New Table', description: 'creates a new table', content: '<div class="mceTmpl"><table width="98%%"  border="0" cellspacing="0" cellpadding="0"><tr><th scope="col"> </th><th scope="col"> </th></tr><tr><td> </td><td> </td></tr></table></div>' },
        { title: 'Starting my story', description: 'A cure for writers block', content: 'Once upon a time...' },
        { title: 'New list with dates', description: 'New List with dates', content: '<div class="mceTmpl"><span class="cdate">cdate</span><br /><span class="mdate">mdate</span><h2>My List</h2><ul><li></li><li></li></ul></div>' }
      ],
      template_cdate_format: '[Date Created (CDATE): %m/%d/%Y : %H:%M:%S]',
      template_mdate_format: '[Date Modified (MDATE): %m/%d/%Y : %H:%M:%S]',
      height: 380,
      image_caption: true,
      quickbars_selection_toolbar: 'bold italic | quicklink h2 h3 blockquote quickimage quicktable',
      noneditable_noneditable_class: 'mceNonEditable',
      toolbar_mode: 'sliding',
      contextmenu: 'link image imagetools table',
      skin: useDarkMode ? 'oxide-dark' : 'oxide',
      content_css: useDarkMode ? 'dark' : 'default',
      content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
     });
    
    
    
</script>
{% endblock script %}