{% extends 'layout.html' %}
{% from 'includes/macros.html' import render_posts %}
{% block title %}
<title>
  {{current_user.firstname}} {{current_user.lastname}} @{{current_user.username}}
</title>
{% endblock title %}
{% block body %}
<!-- !Brand Color -->
<div style="background-color: black;" id="brandBox"></div>

<div class="container">
  <div class="profileImage">
    {% if user.picture == None %}
    <img id="userImage" src="{{url_for('static', filename='images/usericon.png')}}"
      alt="{{user.username}} - The creator" />
    {% else %}
    <img id="userImage" src="{{user.picture}}" alt="{{user.username}}" />
    {% endif %}
  </div>
  <!-- user Info Card -->
  <div class="card">
    <div class="card-body">
      <a href="{{url_for('getFollowers', username=user.username)}}" class="btn btn-primary float-end fw-bold"><i class="fa fa-dot-circle-o"></i> See Followers</a>

      <h3 class="card-text float-start text-muted badge btn-light">
        Followers <strong>{{blogProfile.followers|length}}</strong>
      </h3>
      <div id="profileDetails" style="padding-top: 40px; padding-bottom: 18px" class="text-center">
        <h3 class="card-title">
          {{user.firstname}} {{user.lastname}} (@{{user.username}})
        </h3>
        <hr>
        <h3><i class="fa fa-bar-chart"></i> DashBoard</h3>
      </div>
    </div>
  </div>
  <!-- !User Blog Cards -->
  <div class="row my-3 g-5">
    <!-- !Column of Blogs -->

    <div class="col-md-12">

      <div class="card text-center">
        <h5 class="card-header bg-light p-4">
          All Blogs ({{posts|length}}) | 
            Total Views : {{total_views}}
        </h5>
      </div>
      <div class="card my-3 text-center">
        <h4 class="text-center card-header">
          <!-- !Search Bar -->
          <!-- <label for="exampleDataList" class="form-label">Datalist example</label> -->
          <input class="form-control mx-3" type="search" style="width: 40%;" list="datalistOptions" id="query"
            placeholder="Type to search...">
        </h4>
      </div>
      <!-- !Users All Blogs Fetch From Database -->
      <div id="blogs">
        {{ render_posts(posts, show_end=false, dashboard=true, viewers_count=true) }}
      </div>
    </div>
  </div>
  {% endblock body %}
  {% block script %}
  <script>
    document.querySelectorAll("a.delete").forEach(element => {
      element.addEventListener("click", (e) => {
        confirm = confirm("Do you really want to delete this blog?")
        if (confirm) {
          location.href = e.target.id
        }
      })
    })

    // Search Logic
    let query = document.getElementById("query")
    query.addEventListener('input', (e) => {
      e.preventDefault();
      let searchItem = document.getElementsByClassName('content');
      Array.from(searchItem).forEach(function (element) {
        inputVal = query.value.toLowerCase();
        //if includes then show
        if (element.classList.contains("card-body")) {
          if (element.innerHTML.toLowerCase().includes(inputVal) === false) {
            element.parentElement.style.display = "none";
          }
          else {
            element.parentElement.style.display = "";
          }
        }
        else {
          if (element.innerHTML.toLowerCase().includes(inputVal) === false) {
            element.style.display = "none";
          }
          else {
            element.style.display = "";
          }
        }
      });
    });
  </script>
  {% endblock script %}