{% extends "layout.html" %}
{% from 'includes/macros.html' import render_user_profile %}
{% block title %}
<title>
    @{{user.username}} Followers List
</title>
{% endblock title %}
{% block body %}
<!-- !Brand Color -->
<div class="container" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <!-- !User Blog Cards -->
    <div class="row g-5 my-2">
        <div class="col-lg-3">
    {{render_user_profile(user, current_user, blogProfile)}}
            </div>
        <!-- !Column of Blogs -->
        <div class="col-lg-8">

            <div class="card text-center">
                <h5 class="card-body"> <i class="fa fa-users"></i> Blog Followers ({{followers|length}})</h5>
            </div>
            <!-- !Users All Blogs Fetch From Database -->
            <div id="blogs">
                {% for follower in followers %}
                <section class="card my-3 box-shadow">
                    <div class="card-body">
                        <p class="card-text text-muted fw-bold badge badge-pill rounded-pill float-end">
                            {{follower.joined_date.strftime('%B %d, %Y')}}
                        </p>
                        {% if not follower.picture %}
                        <img src="{{url_for('static',filename='images/usericon.png')}}" alt="Avatar"
                            class="rounded-circle" width="60" height="60">
                        {% else %}
                        <img src="{{ follower.picture }}
              " alt="Avatar" class="rounded-circle" width="60" height="60">
                        {% endif %}                        <h5 class="d-inline-block">
                            <a class="fw-bold text-decoration-none ml-2 text-dark cursor-pointer link d-inline-block"
                                style="cursor: pointer;" href="/p/{{follower.username}}">
                                {{follower.firstname}} {{follower.lastname}} (@{{follower.username}})</a>
                        </h5>
                    </div>
                </section>
            {% endfor %}
            </div>
            {% if followers|length == 0 %}
            <div class="alert alert-warning my-3">
                <h5>Empty! No Followers.</h5>
            </div>
            {% endif %}
        </div>
    </div>
</div>
</div>

{% endblock body %}