{% extends "layout.html" %}
{% block title %}
  <title>Privacy Policy | Blogsphere</title>
  <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=6397fc9465735e001232d935&product=privacy-policy-generator&source=platform&cms=sop' async='async'></script>
{% endblock title %}
{% block css %}
  <style>
    .sharethis-privacy-policy{
        width: 80%;
        display: block;
        margin: 20px auto;
    }
  </style>
{% endblock css %}
{% block body %}
<h1 class="text-center my-3">Blogsphere | Privacy Policy</h1>
<hr>
{% endblock body %}
{% block script %}
<!-- ShareThis BEGIN -->
<!-- ShareThis END -->
{% endblock script %}