{% extends 'layout.html' %} {% from 'includes/macros.html' import render_posts
%} {% block title %}
<script
  type="text/javascript"
  src="https://platform-api.sharethis.com/js/sharethis.js#property=637860466fa502001965e9b3&product=inline-reaction-buttons"
  async="async"
></script>
<title>{{user.firstname}} {{user.lastname}} @{{user.username}}</title>
{% endblock title %} {% block body %}
<!-- !Brand Color -->
<div style="background-color: {{user.brand_color}};" id="brandBox"></div>

<div class="container">
  <!-- TODO:User Profile Cards -->
  <!-- !User Profile Image -->
  <div class="profileImage">
    {% if user.picture == None %}
    <img
      id="userImage"
      src="{{url_for('static', filename='images/usericon.png')}}"
      alt="{{user.username}} - The creator"
    />
    {% else %}
    <img id="userImage" src="{{user.picture}}" alt="{{user.username}}" />
    {% endif %}
  </div>
  <!-- user Info Card -->
  <div class="card">
    <div class="card-body">
      {% if current_user.sno == user.sno %}
      <a href="/settings" class="btn btn-primary float-end fw-bold"
        ><i class="fa fa-pencil"></i> Edit Profile</a
      >
      {% elif not current_user.is_anonymous %}{% if cnt > 0 %}
      <a onclick="follow()" id="follow" class="btn btn-orange float-end fw-bold"
        ><i class="fa fa-check"></i> Followed</a
      >
      {% elif blogProfile %}
      <a
        onclick="follow()"
        id="follow"
        class="btn btn-primary float-end fw-bold"
        ><i class="fa fa-plus-square-o"></i> Follow</a
      >
      {% endif %} {% endif %}
      <p class="card-text float-start text-muted badge rounded-pill bg-light">
        Joined on <strong>{{user.joined_date.strftime("%b %d, %Y")}}</strong>
      </p>
      <div
        id="profileDetails"
        style="padding-top: 40px; padding-bottom: 18px"
        class="text-center"
      >
        <h3 class="card-title fwpop">
          {{user.firstname}} {{user.lastname}} (@{{user.username}}) {% if
          user.is_verified %}
          <i class="fa fa-check-circle text-primary" title="Verified"></i>
          {% endif %}
        </h3>
        <p id="bio" class="text-muted fw-bold">{{user.bio}}</p>
        {% if user.email == params["admin_email"] %}
        <span class="badge bg-primary fw-bolder" style="font-size: 15px"
          >Admin</span
        >
        <span class="badge bg-warning fw-bolder ml-1" style="font-size: 15px"
          >Creator</span
        >
        <span class="badge bg-danger fw-bolder ml-1" style="font-size: 15px"
          >Owner</span
        >
        <span class="badge bg-danger fw-bolder ml-1" style="font-size: 15px"
          >Developer</span
        >
        {% endif %}
      </div>
      {% if blogProfile %}
      <h5 class="text-center text-muted p-2 rounded-3">
        <a
          href="{{url_for('getFollowers', username=user.username)}}"
          class="link"
        >
          Followers
          <strong id="followCount">{{blogProfile.followers|length}}</strong>
        </a>
      </h5>
      {% endif %}
    </div>
  </div>
  <!-- !User Blog Cards -->
  <div class="row my-3 g-5">
    <div class="col-md-4">
      <div class="position-sticky" style="top: 4.3rem">
        {% if user.email == params["admin_email"] %}
        <div class="card alert-info mb-3">
          <div class="card-body">
            <div class="fw-bold text-dark">
              The creator and the owner of the {{params['app_name']}}
            </div>
          </div>
        </div>
        {% endif %}
        <div class="card bg-light">
          <h5 class="card-header bg-white">Intro</h5>
          <div class="card-body">
            <h5><i class="fa fa-map-marker"></i> Lives in {{user.country}}</h5>
            {% if user.hobbies %}
            <h5><i class="fa fa-hourglass"></i> Hobby : {{user.hobbies}}</h5>
            {% endif %} {% if user.country%}
            <h5><i class="fa fa-globe"></i> Country : {{user.country}}</h5>
            {% endif %} {% if user.work %}
            <h5><i class="fa fa-briefcase"></i> Profession : {{user.work}}</h5>
            {% endif %} {% if user.webLink %}
            <h5>
              <i class="fa fa-link"></i>
              <a href="{{user.webLink}}" target="_blank">Web Link</a>
            </h5>
            {% endif %}
          </div>
        </div>
        <div class="card box-shadow bg-light my-3">
          <div class="card-header bg-white">
            <h5 class="fw-bold">Blog</h5>
          </div>
          <div class="card-body">
            <h5>
              <i class="fa fa-building-o"></i> Blog Posts {{posts|length}}
            </h5>
            <h5><i class="fa fa-eye"></i> Total Viewers {{total_viewers}}</h5>
            <h5>
              <a class="link hover-btn cursor-pointer" href="{{url_for('user_comments', username=user.username)}}"><i class="fa fa-comments-o"></i> Comments {{user.comments.count()}}</a>
            </h5>
            <h5 >
              <i class="fa fa-user-o"></i>
              <a
                href="{{url_for('getFollowing',username=user.username)}}"
                class="link hover-btn"
              >
                Following {{user.following|length}}
              </a>
            </h5>
            <h5 class="">
              <i class="fa fa-users"></i> Followers
              {{blogProfile.followers|length}}
            </h5>
          </div>
        </div>
      </div>
    </div>

    <!-- !Column of Blogs -->
    <div class="col-md-8">
      <div class="card text-center">
        <h5 class="card-body">All Blogs ({{posts|length}})</h5>
      </div>
      {% if current_user.sno == user.sno and posts|length >0 %}
      <div class="alert alert-light my-3 fw-bold">
        <a href="/dashboard" class="btn btn-warning float-end fw-bold"
          ><i class="fa fa-bar-chart"></i> Dashboard</a
        >
        <h5>Manage Blogs on Dashboard</h5>
      </div>
      {% endif %}
      <!-- !Users All Blogs Fetch From Database -->
      <div id="blogs">
        {% for post in posts %}

        <div class="card my-3 box-shadow">
          <div class="card-body">
            <a
              href="/b/{{user.username}}/{{post.slug}}"
              class="link-dark"
              style="text-decoration: none"
            >
              <h3 class="card-title">{{post.title}}</h3>
            </a>
            {% for tag in post.tags_list %}
            <a
              class="card-subtitle fw-bold text-primary btn-link btn p-0 text-decoration-none"
              href="/search?q={{tag}}&type=tag"
            >
              <i class="fa fa-hashtag"></i>{{tag}}</a
            >
            {% endfor %}
            <a
              href="/b/{{user.username}}/{{post.slug}}"
              class="btn btn-light float-end"
              >Read</a
            >
            <p class="card-text text-muted">{{post.pub_date.strftime("%c")}}</p>
          </div>
        </div>
        {% endfor %}
         {% if posts|length == 0 %} {% if user.sno ==
        current_user.sno %}
        <div class="d-grid my-3">
          <a
            href="{{url_for('handleBlogWriter', sno=0)}}"
            class="btn btn-outline-primary btn-lg text-center"
            ><i class="fa fa-plus"></i> Create Blog Profile 🌟</a
          >
        </div>
        {% endif %}
       <div
    class="alert mb-2 d-flex justify-content-center text-center flex-row align-content-center align-items-center flex-wrap">
    <img src="{{url_for('static', filename='images/30.png')}}" style="width: 40vh;" alt="Search Not Found">
    <div>
        <h3>No Posts Here!</h3>
        <hr>
        <h5 class="text-muted">@{{user.username}} have not published any blog.</h5>
          <hr />
          {% if current_user.sno == user.sno  %}
          <a class="btn btn-primary btn-lg" href="/blog-writer/edit/0"
            ><i class="fa fa-plus-circle"></i> Create a Blog</a
          >
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock body %} {% block script %}
<script>
  const follow = async () => {
    $("#follow").html(`
    
    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
    Loading...
    `);
    $("#follow").attr("disabled","disabled");

    var myHeaders = new Headers();
    myHeaders.append(
      "Cookie",
      "Cookie_1=value; Cookie_2=value; session=5a67b465-54b3-4ceb-aff3-496d75f28602"
    );

    var formdata = new FormData();
    formdata.append("sno", "{{blogProfile.usersno}}");
    formdata.append("usersno", "{{current_user.sno}}");

    var requestOptions = {
      method: "GET",
      headers: myHeaders,
      credentials: "include",
      redirect: "follow",
    };

    await fetch(
      "/follow?sno={{blogProfile.usersno}}",
      requestOptions
    )
      .then((response) => response.json())
      .then((result) => {
          if (result["is_follow"]) {
            $("#follow").html('<i class="fa fa-check"></i> Followed');
            $("#follow").removeClass('btn-primary')
            $("#follow").addClass('btn-orange')
            const toastLiveExample = document.getElementById('liveToast')
            const toast = new bootstrap.Toast(toastLiveExample)
        
            toast.show()
          } else {
            $("#follow").html('<i class="fa fa-plus-square-o"></i> Follow');
            $("#follow").removeClass('btn-orange')
            $("#follow").addClass('btn-primary')
          }
            $("#followCount").text(String(result['followCount']));

         
      })
      .catch((error) => console.log("error", error));
  };
</script>
{% endblock script %}
