{% extends "layout.html" %}
{% block title %} <title>Settings {{current_user.firstname}} {{current_user.lastname}} @{{current_user.username}}
</title> {% endblock %}
{% block body %}
<div class="container">
    <ul class="nav nav-pills my-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                type="button" role="tab" aria-controls="pills-home" aria-selected="true">General</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Blog Profile</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
                type="button" role="tab" aria-controls="pills-contact" aria-selected="false"> <i
                    class="fa fa-database"></i> Data</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link {% if request.args.get('tab') == 'import' %}active{% endif %}" id="pills-import-tab" data-bs-toggle="pill" data-bs-target="#pills-import"
                type="button" role="tab" aria-controls="pills-import" aria-selected="false"> <i
                    class="fa fa-database"></i> Import</button>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="card box-shadow my-3" style="width: 100%;">
                <div class="card-header">
                    <a href="/" class="d-inline-block btn bg-transparent" style="cursor: pointer;"><i class="fa fa-home"
                            style="font-size: x-large;"></i></a>
                    <h5 class="d-inline-block text-center">{{current_user.firstname}} {{current_user.lastname}}
                        @{{current_user.username}}</h5>
                    <button class="btn bg-transparent float-end" id="edit">
                        <i class="fa fa-pencil-square-o float-lg-right" style="font-size: xx-large;"></i>
                    </button>
                </div>
                <div class="text-center">
                    <div class="my-3">
                        {% if current_user.picture == 'avatar' %}
                        <img id="userImage" src="{{url_for('static', filename='images/usericon.png')}}"
                            alt="{{current_user.username}} - The creator" />
                        {% else %}
                        <img id="userImage" src="{{current_user.picture}}" alt="{{current_user.username}}" />
                        {% endif %}
                    </div>
                    <b>
                        <!-- <p class="text-muted">Username : {{current_user.username}}</p> -->
                        <div class="alert bg-light">
                            <p class="text-muted">Email : {{current_user.email}}</p>
                            <hr>
                            <p class="text-muted">Created Date : {{current_user.joined_date.strftime("%B %d, %Y")}}
                            </p>
                        </div>
                    </b>
                </div>
                <div class="card-body">
                    <form action="/settings" method="POST">
                        {{form.csrf_token}}
                        <div class="mb-3">
                            <label for="firstname" class="col-form-label">First Name :</label>
                            <input disabled type="text" class="form-control" value="{{current_user.firstname}}"
                                name="firstname" required id="firstname">
                        </div>
                        <div class="mb-3">
                            <label for="lastname" class="col-form-label">Last Name :</label>
                            <input disabled type="text" class="form-control" value="{{current_user.lastname}}"
                                name="lastname" required id="lastname">
                        </div>
                        <div class="mb-3">
                            <label for="username" class="col-form-label">Username :</label>
                            <input disabled type="text" class="form-control" value="{{current_user.username}}"
                                name="username" required id="username">
                        </div>
                        <div class="mb-3">
                            <label for="age" class="col-form-label">Age :</label>
                            <input disabled type="number" maxLength="2" class="form-control"
                                value="{{current_user.age}}" name="age" required id="age">
                        </div>
                        <div class="mb-3">
                            <label for="bio" class="col-form-label">Bio :</label>
                            <input disabled type="text" class="form-control" value="{{current_user.bio}}" name="bio"
                                required id="bio">
                        </div>
                        <div class="mb-3">
                            <label for="lastname" class="col-form-label">Brand Color :</label>
                            <input disabled type="color" class="form-control" value="{{current_user.brand_color}}"
                                name="brand_color" required id="brand_color">
                        </div>
                        <div class="mb-3">
                            <label for="hobbies" class="col-form-label">Hobbies</label>
                            <input disabled type="text" class="form-control" value="{{current_user.hobbies}}"
                                name="hobbies" max-length="30" id="hobbies">
                        </div>

                        <div class="mb-3">
                            <label for="weblink" class="col-form-label">Your social account or website link :</label>
                            <input disabled type="text" class="form-control" value="{{current_user.webLink}}"
                                name="weblink" id="weblink">
                        </div>


                        <div class="mb-3">
                            <label for="work">Profession</label>
                            <select name="work" disabled id="work" class="form-select">
                                <option value="student">Student</option>
                                <option value="job">Job</option>
                                <option value="businessman">Business</option>
                                <option value="businessman">Freelancer</option>
                                <option value="others">others</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="country" class="col-form-label">Select your country:</label>
                            <select class="form-select" disabled name="country" id="country">
                                <option value="Afghanistan">Afghanistan</option>
                                <option value="Albania">Albania</option>
                                <option value="Algeria">Algeria</option>
                                <option value="American Samoa">American Samoa</option>
                                <option value="Andorra">Andorra</option>
                                <option value="Angola">Angola</option>
                                <option value="Anguilla">Anguilla</option>
                                <option value="Antartica">Antarctica</option>
                                <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                <option value="Argentina">Argentina</option>
                                <option value="Armenia">Armenia</option>
                                <option value="Aruba">Aruba</option>
                                <option value="Australia">Australia</option>
                                <option value="Austria">Austria</option>
                                <option value="Azerbaijan">Azerbaijan</option>
                                <option value="Bahamas">Bahamas</option>
                                <option value="Bahrain">Bahrain</option>
                                <option value="Bangladesh" selected>Bangladesh</option>
                                <option value="Barbados">Barbados</option>
                                <option value="Belarus">Belarus</option>
                                <option value="Belgium">Belgium</option>
                                <option value="Belize">Belize</option>
                                <option value="Benin">Benin</option>
                                <option value="Bermuda">Bermuda</option>
                                <option value="Bhutan">Bhutan</option>
                                <option value="Bolivia">Bolivia</option>
                                <option value="Bosnia and Herzegowina">Bosnia and Herzegowina</option>
                                <option value="Botswana">Botswana</option>
                                <option value="Bouvet Island">Bouvet Island</option>
                                <option value="Brazil">Brazil</option>
                                <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                                <option value="Brunei Darussalam">Brunei Darussalam</option>
                                <option value="Bulgaria">Bulgaria</option>
                                <option value="Burkina Faso">Burkina Faso</option>
                                <option value="Burundi">Burundi</option>
                                <option value="Cambodia">Cambodia</option>
                                <option value="Cameroon">Cameroon</option>
                                <option value="Canada">Canada</option>
                                <option value="Cape Verde">Cape Verde</option>
                                <option value="Cayman Islands">Cayman Islands</option>
                                <option value="Central African Republic">Central African Republic</option>
                                <option value="Chad">Chad</option>
                                <option value="Chile">Chile</option>
                                <option value="China">China</option>
                                <option value="Christmas Island">Christmas Island</option>
                                <option value="Cocos Islands">Cocos (Keeling) Islands</option>
                                <option value="Colombia">Colombia</option>
                                <option value="Comoros">Comoros</option>
                                <option value="Congo">Congo</option>
                                <option value="Congo">Congo, the Democratic Republic of the</option>
                                <option value="Cook Islands">Cook Islands</option>
                                <option value="Costa Rica">Costa Rica</option>
                                <option value="Cota D'Ivoire">Cote d'Ivoire</option>
                                <option value="Croatia">Croatia (Hrvatska)</option>
                                <option value="Cuba">Cuba</option>
                                <option value="Cyprus">Cyprus</option>
                                <option value="Czech Republic">Czech Republic</option>
                                <option value="Denmark">Denmark</option>
                                <option value="Djibouti">Djibouti</option>
                                <option value="Dominica">Dominica</option>
                                <option value="Dominican Republic">Dominican Republic</option>
                                <option value="East Timor">East Timor</option>
                                <option value="Ecuador">Ecuador</option>
                                <option value="Egypt">Egypt</option>
                                <option value="El Salvador">El Salvador</option>
                                <option value="Equatorial Guinea">Equatorial Guinea</option>
                                <option value="Eritrea">Eritrea</option>
                                <option value="Estonia">Estonia</option>
                                <option value="Ethiopia">Ethiopia</option>
                                <option value="Falkland Islands">Falkland Islands (Malvinas)</option>
                                <option value="Faroe Islands">Faroe Islands</option>
                                <option value="Fiji">Fiji</option>
                                <option value="Finland">Finland</option>
                                <option value="France">France</option>
                                <option value="France Metropolitan">France, Metropolitan</option>
                                <option value="French Guiana">French Guiana</option>
                                <option value="French Polynesia">French Polynesia</option>
                                <option value="French Southern Territories">French Southern Territories</option>
                                <option value="Gabon">Gabon</option>
                                <option value="Gambia">Gambia</option>
                                <option value="Georgia">Georgia</option>
                                <option value="Germany">Germany</option>
                                <option value="Ghana">Ghana</option>
                                <option value="Gibraltar">Gibraltar</option>
                                <option value="Greece">Greece</option>
                                <option value="Greenland">Greenland</option>
                                <option value="Grenada">Grenada</option>
                                <option value="Guadeloupe">Guadeloupe</option>
                                <option value="Guam">Guam</option>
                                <option value="Guatemala">Guatemala</option>
                                <option value="Guinea">Guinea</option>
                                <option value="Guinea-Bissau">Guinea-Bissau</option>
                                <option value="Guyana">Guyana</option>
                                <option value="Haiti">Haiti</option>
                                <option value="Heard and McDonald Islands">Heard and Mc Donald Islands</option>
                                <option value="Holy See">Holy See (Vatican City State)</option>
                                <option value="Honduras">Honduras</option>
                                <option value="Hong Kong">Hong Kong</option>
                                <option value="Hungary">Hungary</option>
                                <option value="Iceland">Iceland</option>
                                <option value="India">India</option>
                                <option value="Indonesia">Indonesia</option>
                                <option value="Iran">Iran (Islamic Republic of)</option>
                                <option value="Iraq">Iraq</option>
                                <option value="Ireland">Ireland</option>
                                <option value="Israel">Israel</option>
                                <option value="Italy">Italy</option>
                                <option value="Jamaica">Jamaica</option>
                                <option value="Japan">Japan</option>
                                <option value="Jordan">Jordan</option>
                                <option value="Kazakhstan">Kazakhstan</option>
                                <option value="Kenya">Kenya</option>
                                <option value="Kiribati">Kiribati</option>
                                <option value="Democratic People's Republic of Korea">Korea, Democratic People's
                                    Republic of</option>
                                <option value="Korea">Korea, Republic of</option>
                                <option value="Kuwait">Kuwait</option>
                                <option value="Kyrgyzstan">Kyrgyzstan</option>
                                <option value="Lao">Lao People's Democratic Republic</option>
                                <option value="Latvia">Latvia</option>
                                <option value="Lebanon">Lebanon</option>
                                <option value="Lesotho">Lesotho</option>
                                <option value="Liberia">Liberia</option>
                                <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                                <option value="Liechtenstein">Liechtenstein</option>
                                <option value="Lithuania">Lithuania</option>
                                <option value="Luxembourg">Luxembourg</option>
                                <option value="Macau">Macau</option>
                                <option value="Macedonia">Macedonia, The Former Yugoslav Republic of</option>
                                <option value="Madagascar">Madagascar</option>
                                <option value="Malawi">Malawi</option>
                                <option value="Malaysia">Malaysia</option>
                                <option value="Maldives">Maldives</option>
                                <option value="Mali">Mali</option>
                                <option value="Malta">Malta</option>
                                <option value="Marshall Islands">Marshall Islands</option>
                                <option value="Martinique">Martinique</option>
                                <option value="Mauritania">Mauritania</option>
                                <option value="Mauritius">Mauritius</option>
                                <option value="Mayotte">Mayotte</option>
                                <option value="Mexico">Mexico</option>
                                <option value="Micronesia">Micronesia, Federated States of</option>
                                <option value="Moldova">Moldova, Republic of</option>
                                <option value="Monaco">Monaco</option>
                                <option value="Mongolia">Mongolia</option>
                                <option value="Montserrat">Montserrat</option>
                                <option value="Morocco">Morocco</option>
                                <option value="Mozambique">Mozambique</option>
                                <option value="Myanmar">Myanmar</option>
                                <option value="Namibia">Namibia</option>
                                <option value="Nauru">Nauru</option>
                                <option value="Nepal">Nepal</option>
                                <option value="Netherlands">Netherlands</option>
                                <option value="Netherlands Antilles">Netherlands Antilles</option>
                                <option value="New Caledonia">New Caledonia</option>
                                <option value="New Zealand">New Zealand</option>
                                <option value="Nicaragua">Nicaragua</option>
                                <option value="Niger">Niger</option>
                                <option value="Nigeria">Nigeria</option>
                                <option value="Niue">Niue</option>
                                <option value="Norfolk Island">Norfolk Island</option>
                                <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                                <option value="Norway">Norway</option>
                                <option value="Oman">Oman</option>
                                <option value="Pakistan">Pakistan</option>
                                <option value="Palau">Palau</option>
                                <option value="Panama">Panama</option>
                                <option value="Papua New Guinea">Papua New Guinea</option>
                                <option value="Paraguay">Paraguay</option>
                                <option value="Peru">Peru</option>
                                <option value="Philippines">Philippines</option>
                                <option value="Pitcairn">Pitcairn</option>
                                <option value="Poland">Poland</option>
                                <option value="Portugal">Portugal</option>
                                <option value="Puerto Rico">Puerto Rico</option>
                                <option value="Qatar">Qatar</option>
                                <option value="Reunion">Reunion</option>
                                <option value="Romania">Romania</option>
                                <option value="Russia">Russian Federation</option>
                                <option value="Rwanda">Rwanda</option>
                                <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                                <option value="Saint LUCIA">Saint LUCIA</option>
                                <option value="Saint Vincent">Saint Vincent and the Grenadines</option>
                                <option value="Samoa">Samoa</option>
                                <option value="San Marino">San Marino</option>
                                <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                                <option value="Saudi Arabia">Saudi Arabia</option>
                                <option value="Senegal">Senegal</option>
                                <option value="Seychelles">Seychelles</option>
                                <option value="Sierra">Sierra Leone</option>
                                <option value="Singapore">Singapore</option>
                                <option value="Slovakia">Slovakia (Slovak Republic)</option>
                                <option value="Slovenia">Slovenia</option>
                                <option value="Solomon Islands">Solomon Islands</option>
                                <option value="Somalia">Somalia</option>
                                <option value="South Africa">South Africa</option>
                                <option value="South Georgia">South Georgia and the South Sandwich Islands</option>
                                <option value="Span">Spain</option>
                                <option value="SriLanka">Sri Lanka</option>
                                <option value="St. Helena">St. Helena</option>
                                <option value="St. Pierre and Miguelon">St. Pierre and Miquelon</option>
                                <option value="Sudan">Sudan</option>
                                <option value="Suriname">Suriname</option>
                                <option value="Svalbard">Svalbard and Jan Mayen Islands</option>
                                <option value="Swaziland">Swaziland</option>
                                <option value="Sweden">Sweden</option>
                                <option value="Switzerland">Switzerland</option>
                                <option value="Syria">Syrian Arab Republic</option>
                                <option value="Taiwan">Taiwan, Province of China</option>
                                <option value="Tajikistan">Tajikistan</option>
                                <option value="Tanzania">Tanzania, United Republic of</option>
                                <option value="Thailand">Thailand</option>
                                <option value="Togo">Togo</option>
                                <option value="Tokelau">Tokelau</option>
                                <option value="Tonga">Tonga</option>
                                <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                                <option value="Tunisia">Tunisia</option>
                                <option value="Turkey">Turkey</option>
                                <option value="Turkmenistan">Turkmenistan</option>
                                <option value="Turks and Caicos">Turks and Caicos Islands</option>
                                <option value="Tuvalu">Tuvalu</option>
                                <option value="Uganda">Uganda</option>
                                <option value="Ukraine">Ukraine</option>
                                <option value="United Arab Emirates">United Arab Emirates</option>
                                <option value="United Kingdom">United Kingdom</option>
                                <option value="United States">United States</option>
                                <option value="United States Minor Outlying Islands">United States Minor Outlying
                                    Islands</option>
                                <option value="Uruguay">Uruguay</option>
                                <option value="Uzbekistan">Uzbekistan</option>
                                <option value="Vanuatu">Vanuatu</option>
                                <option value="Venezuela">Venezuela</option>
                                <option value="Vietnam">Viet Nam</option>
                                <option value="Virgin Islands (British)">Virgin Islands (British)</option>
                                <option value="Virgin Islands (U.S)">Virgin Islands (U.S.)</option>
                                <option value="Wallis and Futana Islands">Wallis and Futuna Islands</option>
                                <option value="Western Sahara">Western Sahara</option>
                                <option value="Yemen">Yemen</option>
                                <option value="Serbia">Serbia</option>
                                <option value="Zambia">Zambia</option>
                                <option value="Zimbabwe">Zimbabwe</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="oldpassword" class="col-form-label">Password (Hashed):</label>
                            <input disabled type="password" class="form-control" id="oldpassword"
                                placeholder="Choose a password" name="oldpassword"
                                value="{{current_user.password_hash}}" required>
                        </div>

                        <span class="btn btn-light" id="show">Show</span>
                        <span class="btn btn-light" id="changepasswordBtn"><i class="fa fa-key"></i> Change
                            Password</span>
                        <div class="mb-3">
                            <div id="repasswordarea" style="display: none;">
                                <div class="mb-3">
                                    <label for="password" class="col-form-label">New Password :</label>
                                    <input disabled type="password" minlength="8" class="form-control" id="password"
                                        placeholder="Choose a password" name="password" oldautocomplete="remove"
                                        autocomplete="off" aria-autocomplete="list">
                                </div>
                                <div class="mb-3">
                                    <label for="repassword" class="col-form-label">Confirm Password :</label>
                                    <input disabled type="password" minlength="8" class="form-control" id="repassword"
                                        placeholder="Confirm password" name="repassword" oldautocomplete="remove"
                                        autocomplete="off" aria-autocomplete="list">
                                </div>
                            </div>

                            <small>Go to </small>
                            <a href="/" type="button" class="btn-sm btn-outline-danger"><i class="fa fa-sign-in"></i>
                                Home</a>
                        </div>
                        {{form.submit( id="saveBtn", class="btn btn-outline-success float-end")}}
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            {% if blogProfile %}
            <div class="alert alert-light my-3 fw-bold">
                <a href="{{url_for('getFollowers', username=current_user.username)}}"
                    class="btn btn-warning float-end fw-bold"><i class="fa fa-bullseye"></i> See</a>
                <h5>See Your Blog Followers</h5>
            </div>
            {% else %}
            <div class="alert alert-warning my-3 fw-bold">
                <h5 class="text-center">You don't have a blog profile. Publish a blog first.</h5>
            </div>
            {% endif %}

            <div class="alert alert-light my-3 fw-bold">
                <a href="{{url_for('getFollowing', username=current_user.username)}}"
                    class="btn btn-warning float-end fw-bold"><i class="fa fa-bullseye"></i> See</a>
                <h5>See Your Following List</h5>
            </div>
        </div>

        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">

            <div class="alert alert-light my-3 fw-bold">
                <a href="/dashboard" class="btn btn-warning float-end fw-bold"><i class="fa fa-bullseye"></i> Go</a>
                <h5> <i class="fa fa-bar-chart"></i> Open Dashboard</h5>
            </div>

            <div class="alert alert-light my-3 fw-bold">
                <h5> <i class="fa fa-database"></i> Export Data</h5>
                <hr>
                <div class="row">

                    <div class="btn-group d-block col-lg-6 col-sm-12" role="group">
                        <button type="button" class="btn btn-outline-warning btn-lg mx-auto d-block dropdown-toggle"
                        style="width: 100%;" data-bs-toggle="dropdown" aria-expanded="true">
                        <i class="fa fa-file-archive-o"></i> Export Your Data
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{url_for('user_data_export', ftype='json')}}">as .json</a></li>
                        <li><a class="dropdown-item" href="{{url_for('user_data_export', ftype='csv')}}">as .csv</a></li>
                    </ul>
                    </div>
                    <div class="btn-group d-block col-lg-6 col-sm-12" role="group">
                        <button type="button" class="btn btn-outline-warning btn-lg mx-auto d-block dropdown-toggle"
                        style="width: 100%;" data-bs-toggle="dropdown" aria-expanded="true">
                        <i class="fa fa-file-archive-o"></i> Export Data (Posts)
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/export-data?format=json">as .json</a></li>
                        <li><a class="dropdown-item" href="/export-data?format=csv">as .csv</a></li>
                        <li><a class="dropdown-item" href="/export-data?format=txt">as .txt</a></li>
                    </ul>
                    </div>
            </div>
            </div>
            

            <div class="alert alert-light my-3 fw-bold d-flex align-items-center justify-content-center w-100">
                <form method="post" hx-post="/import" style="width:100%;" hx-target="#msgfile" hx-indicator="#spinner"
                    enctype="multipart/form-data">
                    <h5> <i class="fa fa-bar-chart"></i> Import POST</h5>
                    <hr>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="flex flex-row justify-content-around">

                        <input type="file" name="file" accept=".json"
                            class="btn btn-outline-primary btn-lg my-3 form-control w-75 fwpop "
                            aria-label="import file (.json)" required>
                        <!-- <div class="invalid-feedback">Example invalid form file feedback</div> -->
                        <button type="submit" class="btn btn-lg btn-outline-primary"><i
                                class="fa fa-arrow-right"></i></button>
                    </div>

                </form>
            </div>

            <div id="msgfile">

            </div>
            <div class="card my-2 htmx-indicator" style="width: 100%;" id="spinner" s aria-hidden="true">
                <div class="card-body">
                    Uploading.....
                    <hr>
                    <h3 class="text-center">Publishing Blog...........</h3>
                    <div class="text-center">
                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="tab-pane fade" id="pills-import" role="tabpanel" aria-labelledby="pills-import-tab">

            <!-- !File Markdown Import -->
            <div class="alert alert-light my-3 fw-bold d-flex align-items-center justify-content-center w-100">
                <form method="post" hx-post="{{url_for('post_importer')}}" style="width:100%;" hx-target="#msgfile2" hx-indicator="#spinner2"
                    enctype="multipart/form-data">
                    <h5> <i class="fa fa-bar-chart"></i> Import POST</h5>
                    <hr>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="flex flex-row justify-content-around">

                        <input type="file" name="file" accept=".md"
                            class="btn btn-outline-primary btn-lg my-3 form-control w-75 fwpop "
                            aria-label="import file (.json)" required>
                        <!-- <div class="invalid-feedback">Example invalid form file feedback</div> -->
                        <button type="submit" class="btn btn-lg btn-outline-primary"><i
                                class="fa fa-arrow-right"></i></button>
                    </div>

                </form>
            </div>
            <div id="msgfile2">

            </div>
            <div class="card my-2 htmx-indicator" style="width: 100%;" id="spinner2" s aria-hidden="true">
                <div class="card-body">
                    Uploading.....
                    <hr>
                    <h3 class="text-center">Publishing Blog...........</h3>
                    <div class="text-center">
                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
<script>
    let show = document.getElementById("show")
    let repasswordarea = document.getElementById("repasswordarea")
    let changepasswordBtn = document.getElementById("changepasswordBtn")
    let inputpassword = document.getElementById("oldpassword")
    let edit = document.getElementById("edit")
    show.addEventListener("click", (e) => {
        if (inputpassword.type == "password") {
            inputpassword.type = "text"
            show.innerText = "Hide"
        }
        else {
            inputpassword.type = "password"
            show.innerText = "Show"
        }
    })
    changepasswordBtn.addEventListener("click", (e) => {
        if (repasswordarea.style.display == "none") {
            repasswordarea.style.display = "block"
        } else {
            repasswordarea.style.display = "none"
        }
    })
    edit.addEventListener("click", (e) => {
        e.preventDefault()
        document.getElementById('firstname').disabled = false;
        document.getElementById('lastname').disabled = false;
        document.getElementById('username').disabled = false;
        document.getElementById('age').disabled = false;
        document.getElementById('hobbies').disabled = false;
        document.getElementById('weblink').disabled = false;
        document.getElementById('bio').disabled = false;
        document.getElementById('country').disabled = false;
        document.getElementById('work').disabled = false;
        document.getElementById('brand_color').disabled = false;
        document.getElementById('password').disabled = false;
        document.getElementById('repassword').disabled = false;
        document.getElementById('saveBtn').disabled = false;
    })
</script>
{% endblock %}